/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- #f3b76a
- #f17500
- #0d6e00
- #6d00fb
- #dbff39
- #74c9f1
- #fb4040

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/
img{
    
    width: 600px;
    height: 400px;
    border: 5px solid yellow;    
    border-radius: 50px;
    box-shadow: 10px -16px 30px 5px #6d00fb;
}
h1{
    text-shadow:#6d00fb 1px 0 8px;
    font-size: 54px;
}
p{
    text-shadow: #170133 1px 0 1px;
    border: #f6f6f6;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;

}
body{
    /* background-image:linear-gradient( rgb(251, 64, 64),rgb(116, 201, 241), yellow), url("https://picsum.photos/600"); */
    background-image:linear-gradient( rgb(251, 64, 64),rgb(116, 201, 241), yellow), url("https://media.greenmatters.com/brand-img/p4_wL7QtK/0x0/nike-shoes-1691410282058.jpg");
    background-color: rgb(243, 183, 106);
    background-repeat: no-repeat;
    background-blend-mode:lighten;
    background-size: cover;
    text-align:center;
    text-decoration:none;
    font-size:medium;
    

}

.leftside{
    display: flex;
    flex-flow: row;
    text-shadow: #170133;


}
#row2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#row2-section2{
    color: blue;
    font-size: 15pt;
    font-weight: 900;
    width: 75%;
    text-indent: 20pt;
    text-wrap:wrap;
    
}
#row1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#row1-section2{
    color: rgb(255, 21, 0);
    font-size: 15pt;
    font-weight: 900;
    width: 75%;
    text-indent: 20pt;
    text-wrap:wrap;
    
}
